.footer{
    background-color: $very-dark-blue;

    &__container{
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 35px 0 25px 0;
        text-align: center;

        form{
            width: 100%;
            margin-bottom: 50px;
            position: relative;

            input{
                width: 250px;
                border: none;
                border-radius: 50px;
                padding: 0 25px;
                height: 40px;
                margin-right: 10px;
            }

            .input__small{
                display: none;
            }

            .email__error{
                display: block;
                position: absolute;
                bottom: -20px;
                left: 20%;
                color: $bright-red;
            }

            .btn{
                background-color: $bright-red;
                color: $very-light-gray;
                padding: 10px 25px;
                height: 40px;
                border: none;
                border-radius: 50px;
            }
        }

        .links{
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            margin-bottom: 35px;

            ul{
                text-align: left;
                li{
                    color: $very-light-gray;
                    font-size: 13px;
                    margin-bottom: 15px;
                }
            }
        }

        .social{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 50px;
            i{
                font-size: 32px;
                color: $very-light-gray;
            }
        }

        .logo{
            margin-bottom: 50px;
        }

        .copy{
            p{
                color: $dark-grayish-blue;
                font-size: 12px;
            }
        }
    }
}

@media screen and (min-width:768px) {
    .footer{
        &__container{
            form{
                .email__error{
                    // display: block;
                    // position: absolute;
                    // bottom: -20px;
                    left: 30%;
                    // color: $bright-red;
                }
            }
        }
    }
}

@media screen and (min-width:1024px) {
    .footer{
        &__container{
            padding: 75px 0;
            display: grid;
            grid-template-areas: 
                'logo link link form'
                'logo link link form'
                'social link link copy'
            ;

            form{
                grid-area: form;
                margin-bottom: 0;
                display: flex;
                justify-content: flex-end;

                input:focus{
                    outline: none;
                    border: 2px solid $bright-red;
                }

                .email__error{
                    bottom: 15px;
                    // left: ;
                }

                .btn:hover{
                    cursor: pointer;
                }
            }
            
            .links{
                grid-area: link;
                margin-bottom: 0;
                justify-content: space-evenly;
                align-items: flex-start;
                gap: 10px;

                ul{
                    li:hover{
                        cursor: pointer;
                        color: $bright-red;
                    }
                }
            }

            .social{
                grid-area: social;
                margin-bottom: 0;

                i:hover{
                    cursor: pointer;
                    color: $bright-red;
                }
            }

            .logo{
                grid-area: logo;
                margin-bottom: 0;
                text-align: left;

                img{
                    width: 205px;
                }
            }

            .copy{
                grid-area: copy;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
            }
        }
    }
}

@media screen and (min-width:1200px) {
    .footer{
        &__container{
            padding: 75px 0;

            form{
                .email__error{
                    bottom: 25px;
                }
            }
            
            .links{

                ul{
                    li{
                        margin-bottom: 25px;

                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .social{
                grid-area: social;
                margin-bottom: 0;
                align-items: flex-end;
            }
        }
    }
}