.nav{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &__logo{
        width: 125px;

        img{
            width: 100%;
        }
    }

    &__ul{
        display: none;
    }
    
    &__ul-active{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        width: 100%;
        text-align: center;
        gap: 25px;
        padding: 35px 0;
        border-radius: 8px;
        background-color: $very-light-gray;

        li{
            font-size: 15px;
            font-weight: 700;
        }
    }

    &__btns{
        .btn-close{
            display: none;
        }
    }

    &__button{
        display: none;
    }
}

@media screen and (min-width:1024px) {
    .nav{
        margin-top: 50px;

        &__logo{
            padding-top: 10px;
        }

        &__ul{
            display: flex;
            flex-direction: row;
            text-align: center;
            gap: 25px;
            background-color: transparent;
            align-items: flex-start;

            position: inherit;
            top: 0;
            width: auto;

            li{
                font-size: 15px;
                font-weight: 500;

                &:hover{
                    cursor: pointer;
                    color: $dark-grayish-blue;
                }
            }
        }

        &__btns{
            display: none;
        }

        &__button{
            display: inline-block;
            border: none;
            color: $very-light-gray;
            background-color: $bright-red;
            border-radius: 50px;
            width: 130px;
            padding: 15px 0;
            font-size: 12px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

            &:hover{
                cursor: pointer;
                opacity: 0.75;
            }
        }
    }
}