.testimonials{
    text-align: center;
    overflow-x: hidden;
    position: relative;

    h2{
        font-size: 30px;
        color: $dark-blue;
        margin-bottom: 50px;
    }

    .testimonials__container{
        margin: 0 auto;
        margin-bottom: 50px;
        text-align: center;

        .testimonial-card{
            text-align: center;
            background-color: $very-light-gray;

            .avatar{
                width: 75px;
                height: 75px;
                margin: 0 auto;
                margin-bottom: 25px;

                img{
                    width: 100%;
                }
            }

            .name{
                color: $dark-blue;
                font-size: 16px;
                font-weight: 700;
            }

            p{
                color: $dark-grayish-blue;
                font-size: 14px;
                line-height: 1.7;
                margin: 0 auto;
                padding: 35px 20px;
            }
        }

    }

    .swiper-pagination{
        bottom: 25% !important;
    }

    .btn{
        border: none;
        color: $very-light-gray;
        background-color: $bright-red;
        border-radius: 50px;
        width: 130px;
        padding: 15px 0;
        font-size: 12px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 50px;
    }

}

@media screen and (min-width:768px) {
    .testimonials{
        .testimonials__container{
            .testimonial-card{
                p{
                    width: 450px;
                }
            }
        }
    }
}

@media screen and (min-width:1024px) {
    .testimonials{
        h2{
            font-size: 38px;
        }

        .btn:hover{
            cursor: pointer;
            opacity: 0.75;
        }
    }
}

@media screen and (min-width:1200px) {
    .testimonials{
        h2{
            font-size: 42px;
        }
        .testimonials__container{

            .testimonial-card{
                p{
                    width: 550px;
                    font-size: 17px;
                }
            }
        }
    }
}